@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
  width: 9px;
  height: 5px;
}
body::-webkit-scrollbar-track{
  background-color: rgb(221, 221, 221);
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(110, 110, 110);
  border-radius: 3px;
}
.frontpage{
  position: relative;
  min-height: 900px;
  background-image: url("./resources/images/260192.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  transition: all .3s ease;
}
.frontpage::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .0;
  z-index: -1;
}
.frontpage .navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.frontpage .navbar a{
  text-decoration: none;
}
.frontpage .navbar .logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frontpage .navbar .logo img, .contain .nav .logo a img{
  height: 40px;
  width: 40px;
  border-radius: 7px;
}
.frontpage .navbar .logo p, .contain .nav .logo a p{
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1rem;
  color: black;
}
.frontpage .navbar .navlinks{
  position: fixed;
  top: -100vh;
  padding: 10px;
  left: 0vw;
  background-color: rgb(221, 221, 221);
  width: 0vw;
  height: 350px;
  width: 100%;
  z-index: 10;
  border-radius: 0px 0px 25px 25px;
  transition: .5s ease-out;
}
.frontpage.active .navlinks{
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(221, 221, 221);
  height: 350px;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  z-index: 10;
  transition: .5s ease-in;
}
.frontpage .navbar .navlinks ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.frontpage .navbar .navlinks ul li{
  list-style: none;
  margin-bottom: 3rem;
}
.frontpage .navbar .navlinks ul li a{
  text-decoration: none;
  color: rgb(59, 58, 58);
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 3px;
}
.frontpage .navbar .navlinks ul li a:hover{
  color: black;
  font-weight: 400;
  border-bottom: 1px solid rgb(59, 58, 58);
}
.burger{
  padding: 15px 10px;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  top: .7rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 5px;
}
.burger .line:last-child{
  margin-bottom: 0;
}
.burger .line{
  height: .2rem;
  width: 2rem;
  background-color: rgb(59, 58, 58);
  margin-bottom: 7px;
  transition: all .3s ease-in;
}
.burger .two{
  width: 1.5rem;
}
.burger .three{
  width: 1rem;
}
.frontpage.active::after{
  opacity: .3;
  z-index: 5;
}
.frontpage.active .navlinks ul{
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.frontpage.active .navlinks ul li{
  margin-bottom: 3rem;
}
.frontpage.active .navlinks ul li a{
  font-size: 1.5rem;
}
.frontpage.active .burger .two, .contain.active .burger .two{
  width: 2.5rem;
}
.frontpage.active .burger .three, .contain.active .burger .three{
  width: 2.5rem;
}
.frontpage .flex{
  padding: 10px 30px;
}
.frontpage .flex .slogan h4{
  font-size: 2.2rem;
  color: rgb(29, 28, 28);
  word-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
  margin-top: 3.5rem;
}
.frontpage .flex .left{
  margin-bottom: 2rem;
}
.frontpage .flex .card{
  width: 300px;
  height: 150px;
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 0px 7px 0px rgb(151, 149, 149);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.frontpage .flex .card .item{
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}
.frontpage .flex .card .item img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: .7rem;
  object-fit: cover;
}
.frontpage .flex .item .text h4{
  font-size: 1.1rem;
  color: rgb(59, 58, 58);
  margin-bottom: .1rem;
  text-transform: capitalize;
}
.frontpage .flex .item .text p{
  font-size: .7rem;
  color: rgb(109, 109, 211);
}
.frontpage .flex .item .bottom{
  position: absolute;
  right: 0;
  background-color: rgb(109, 109, 211);
  border-radius: 5px 0px 0px 5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}
.frontpage .flex .right{
  position: relative;
}
.frontpage .flex .right .image{
  position: absolute;
  background-color: rgb(221, 221, 221);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgb(59, 58, 58);
}
.frontpage .flex .right .one{
  top: 2rem;
  right: 3rem;
}
.frontpage .flex .right .two{
  bottom: -7rem;
  right: 1.5rem;
}
.frontpage .flex .right .three{
  bottom: -2rem;
  left: -1rem;
}
.frontpage .flex .right .image img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.frontpage .flex .right .video{
  background-color: rgb(236, 240, 245);
  box-shadow: 0px 0px 7px 1px rgb(59, 58, 58);
  height: 230px;
  width: 230px;
  padding: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  top: 5rem;
}
.frontpage .flex .right .video video{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  object-position: top;
}
.frontpage .flex .right .video .circle{
  height: 190px;
  width: 190px;
  border: 5px solid transparent;
  border-bottom: 5px solid rgb(109, 109, 211);
  border-radius: 50%;
  position: absolute;
  animation: rotate 10s infinite linear;
}
.frontpage .flex .right .video .top{
  border-bottom: none;
  border: 5px solid transparent;
  border-top: 5px solid rgb(109, 109, 211);
  transform: rotate(65deg);
  animation: rotatetop 10s infinite linear;
}
.frontpage .flex .right .video .side{
  border-bottom: none;
  transform: rotate(35deg);
  border: 5px solid transparent;
  border-left: 5px solid rgb(109, 109, 211);
  animation: rotateside 10s infinite linear;
}
.midsec{
  margin-top: 1rem;
  padding: 1rem;
  min-height: 100vh;
}
.midsec .note{
  padding: 25px 10px;
  padding-bottom: 2.2rem;
}
.midsec .note .swo{
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: .8rem;
}
.midsec .note .lorem{
  line-height: 1.5rem;
  color: rgb(39, 39, 39);
}
.highlight{
  color: rgb(109, 109, 211);
}
.midsec .name{
  display: none;
}
.midsec .contact .cards{
  box-shadow: 0px 10px 10px -3px rgb(151, 149, 149);
  border-radius: 10px;
  padding: 2px;
  position: relative;
  background-color: rgba(156, 153, 153, 0.062);
}
.midsec .contact .cards .ob{
  background-color: rgb(109, 109, 211);
  border-radius: 15px;
  display: flex;
  font-weight: 200;
  text-transform: capitalize;
  justify-content: center;
  width: 12rem;
  padding: 7px 17px;
  color: rgb(236, 240, 245);
  letter-spacing: 1px;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.midsec .cards .card{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.midsec .cards .book{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.midsec .cards .card img{
  height: 90px;
  width: 90px;
}
.midsec .cards .card .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 7px;
}
.midsec .cards .card .text h4{
  font-size: 1.4rem;
  color: rgb(39, 39, 39);
  font-weight: 600;
  margin: 10px;
}
.midsec .cards .card .text p{
  color: rgb(59, 58, 58);
  font-size: 1.2rem;
  padding: 0 10px;
  text-align: center;
  line-height: 2rem;
}
.midsec .cards .card .line{
  height: 3px;
  width: 15rem;
  border-radius: 10px;
  background-color: rgba(109, 109, 211, 0.671);
}
.midsec .cards .book .link{
  margin: 2rem 0 1.5rem 0;
}
.midsec .cards .book .link a{
  padding: 1rem 2rem;
  background-color: rgb(109, 109, 211);
  border-radius: 35px;
  text-decoration: none;
  color: rgb(236, 240, 245);
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.midsec .cards .book .link a:hover{
  background-color: rgb(165, 165, 202);
}
.midsec .services{
  margin-top: 1rem;
}
.midsec .services .cards{
  padding: 2.5rem 1rem;
  display: flex;
  overflow-x: scroll;
}
.midsec .services .cards .card{
  box-shadow: 0px 0px 10px 0px rgb(201, 201, 201);
  border-radius: 15px;
  padding: 1rem;
  min-width: 270px;
  margin-right: 1.5rem;
}
.midsec .services .card .image{
  padding: 1rem;
  margin-bottom: 1rem;
}
.midsec .services .card .image img{
  height: 70px;
  width: 70px;
}
.midsec .services .card .text h4{
  color: rgb(29, 28, 28);
  font-weight: bolder;
  font-size: 1.5rem;
  margin: .5rem 0;
  text-transform: capitalize;
}
.midsec .services .card .text p{
  text-align: center;
  color: rgb(151, 149, 149);
  font-size: 17px;
  font-weight: 300;
  height: 150px;
}
.midsec .services .card .text a{
  color: rgb(109, 109, 211);
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 1rem;
  transition: .2s ease;
}
.midsec .services .card .text a:hover{
  color: rgb(0, 62, 248); 
  font-weight: bold; 
}
.events{
  margin: 3rem 0;
}
.events .top{
  padding: 1rem;
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events .top .image img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.events .top .text h4{
  font-weight: bold;
  color: rgb(29, 28, 28);
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.events .top .text p{
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}
.events .bottom{
  padding: 1rem;
}
.events .bottom .images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events .bottom .images .big{
  background-image: url('./resources/images/wskills.jpg');
  height: 15rem;
  width: 18rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  transition: .3s ease;
  box-shadow: 0px 0px 7px 0px rgb(212, 206, 206);
}
.events .bottom .images .big:hover, .events .bottom .images .smalls .small:hover{
  transform: scale(1.05);
}
.events .bottom .images .smalls{
  display: flex;
  justify-content: center;
  position: relative;
}
.events .bottom .images .smalls .small{
  height: 10rem;
  width: 8rem;
  margin: .8em;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgb(212, 206, 206);
  transition: .3s ease;
}
.events .bottom .images .one{
  background-image: url("./resources/images/comt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.events .bottom .images .two{
  background-image: url("./resources/images/wskills2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.events .bottom .images .three{
  background-image: url("./resources/images/group.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.events .bottom .images .four{
  background-image: url("./resources/images/itweek.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.events .link{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.events .link a{
  padding: .5rem 2rem;
  background-color: rgb(109, 109, 211);
  border-radius: 35px;
  text-decoration: none;
  color: rgb(236, 240, 245);
  font-size: 1rem;
  transition: .3s ease;
  letter-spacing: 1px;
}
.events .link a:hover{
  background-color: rgb(165, 165, 202);
}
.member-section{
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
}
.member-section .members{
  margin-top: 1rem;
  display: flex;
  overflow-x: hidden;
  padding: 1rem;
  min-height: 490px;
}
.members-slider{
  padding: .1rem;
}
.members-slider .swiper-button-prev,.members-slider .swiper-button-next{
  color: rgb(236, 240, 245);
}
.members-slider .swiperNavNext{
  height: 25px;
  width: 25px !important;
}
.members-slider .swiper-slide.swiper-slide-active{
  z-index: 1;
}
.member-section .member{
  min-width: 250px;
  padding: .3rem;
  box-shadow: 1px 2px 5px rgb(201, 201, 201);
  margin: .3rem;
  border-radius: 7px;
  z-index: -10000;
  position: relative;
}
.member-section .member .name{
  text-align: center;
  font-weight: bold;
  color: rgb(59, 58, 58);
  font-size: 1.5rem;
  text-transform: capitalize;
}
.member-section .member .role{
  text-align: center;
  color: rgb(29, 28, 28);
  font-weight: 300;
  margin-bottom: .7rem;
  text-transform: capitalize;
}
.member-section .member .quote{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgb(59, 58, 58);
  text-transform: lowercase;
  font-style: italic;
}
.member-section .members .member img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: .5rem;
}
.member-section .other-thing{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.member-section .other-thing .image img{
  height: 70px;
  width: 70px;
}
.member-section .other-thing .texts h6{
  font-size: 1.07rem;
  color: rgb(110, 110, 110);
  font-weight: 500;
  margin-bottom: .5rem;
  text-align: center;
}
.member-section .other-thing .texts h2{
  color: rgb(109, 109, 211);
  font-size: 3rem;
  margin-bottom: .2rem;
  text-align: center;
}
.member-section .other-thing .texts p{
  letter-spacing: 1px;
  color: rgb(151, 149, 149);
  margin-bottom: .5rem;
  text-align: center;
}
.vision{
  padding: 1rem;
  margin-top: 3rem;
}
.vision .side .text p{
  letter-spacing: 1px;
}
.vision .side .text h2{
  color: rgb(109, 109, 211);
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: .2rem;
}
.vision .side .text .more{
  text-align: left;
  margin-bottom: 1rem;
}
.vision .other{
  min-width: 300px;
  height: 350px;
}
.vision .other video{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 0px rgb(165, 165, 202);
  object-fit: cover;
}
.footer{
  margin-top: 1rem;
  background-image: linear-gradient(rgb(219, 218, 218), rgb(39, 39, 39));
  color: rgb(236, 240, 245);
  padding: 1rem 3rem;
}
.footer h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
.footer p{
  display: flex;
  justify-content: center;
}
.footer p img{
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.footer .links{
  display: flex;
  justify-content: center;
  display: none;
}
.footer .links ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer .links ul li{
  list-style: none;
  margin-left: .3rem;
}
.footer .links ul li a{
  text-decoration: none;
  color: rgb(201, 201, 201);
}
.footer .links ul li a:hover{
  text-decoration: none;
  color: rgb(109, 109, 211);
}
.footer .social-links{
  display: flex;
  justify-content: center;
}
.footer .social-links ul{
  display: flex;
}
.footer .social-links ul li{
  list-style: none;
  margin: 10px;
}
.footer .social-links ul li a{
  text-decoration: none;
  color: rgb(29, 28, 28);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(236, 240, 245);
  transition: all .3s ease;
}
.footer .social-links ul li a:hover{
  background-color: rgb(109, 109, 211);
  color: rgb(236, 240, 245);
}

/* gallery */
.contain{
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}
.bg{
  background-image: url("./resources/images/bg.jpg");
  width: 91%;
  height: 100%;
  background-position: center;
  background-size: cover;
  left: -100vw;
  transition: .3s ease-in;
  position: absolute;
  z-index: 1;
}
.contain.active .bg{
  position: fixed;
  left: 0; 
  transition: .3s ease-out;
  z-index: 1;
}
.contain .nav{
  background-color: rgba(255, 255, 255, 0.829);
  box-shadow: 0px 1px 9px 0px gray;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}
.contain .nav .logo{
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
.contain .nav .logo a{
  text-decoration: none;
  text-align: center;
}
.contain .nav .library{
  padding: 1rem .5rem;
}
.contain .nav .library .tag{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.contain .nav .library ul li{
  list-style: none;
  margin-bottom: 2rem;
}
.contain .nav .library ul li:hover a{
  color: rgb(109, 109, 211);
}
.contain .nav .library li a{
  text-decoration: none;
  font-size: 25px;
  color: rgb(59, 58, 58);
  transition: .3s ease-in-out;
}
.contain .nav .library li a svg{
  margin-right: 10px;
}
.contain .main{
  padding: 1rem;
  width: 100%;
}
.contain .main .box{
  margin: 3rem 0;
}
.contain .main .box .flex{
  display: flex;
  justify-content: space-between;
}
.contain .main .box .flex img{
  height: 80px;
  margin-right: .5rem;
}
.contain .main .box .title{
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
  margin: .5rem 0;
}
.contain .main .box p span{
  font-weight: 700;
  color: rgb(59, 58, 58);
}
.contain .main .box .images{
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  justify-content: center;
  align-items: center;
}
.contain .main .box .image{
  margin-top: 7px;
  cursor: pointer;
}
.contain .main .box .image img, .big, .contain .main .box .image video{
  height: 250px;
  object-fit: cover;
  width: 290px;
  border-radius: 7px;
  transition: .3s ease;
}
.contain .main .box .image:hover img{
  transform: scale(1.04);
  margin: 10px 0;
}















/* media screens */
@media only screen and (min-width:400px){
  .frontpage .flex .card{
    width: 350px;
  }
  .events .bottom .images .smalls .small{
    width: 9rem;
  }
  .vision .other{
    min-width: 390px;
    height: 420px;
  }
  .contain .main .box .image img, .contain .main .box .image video{
    height: 250px;
    width: 350px;
  }
  .contain .main .box .flex img{
    margin-right: 1rem;
  }
}
@media only screen and (min-width:500px){
 .midsec .contact{
  padding: 0 2rem;
 }
 .events .bottom .images .big{
  width: 29rem;
 }
 .events .bottom .images .smalls .small{
  height: 10rem;
  width: 13rem;
}
.contain .main .box .image{
  margin-top: 12px;
}
.contain .main .box .image img, .contain .main .box .image video{
  height: 350px;
  width: 460px;
}
.contain .main .box .flex img{
  margin-right: 1.5rem;
}
.footer{
  background-color: rgb(39, 39, 39);
  background-image: none;
}

}

@media only screen and (min-width:760px){
  .frontpage{
    min-height: 950px;
  }
  .frontpage .flex .slogan h4{
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 0px;
  }
  .frontpage .flex .card{
    width: 550px;
    height: 120px;
    justify-content: space-between;
    flex-direction: initial;
  }
  .frontpage .flex .card .item img{
    width: 70px;
    height: 70px;
  }
  .frontpage .flex .item .text h4{
    font-size: 1.1rem;
    color: rgb(29, 28, 28);
    font-weight: 300;
  }
  .frontpage .flex .item .text p{
    font-size: .85rem;
  }
  .frontpage .flex .item .bottom{
    width: 60px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    background-color: rgb(199, 199, 243);
    border-radius: 15px;
    color: rgb(59, 58, 58);
  }
  .frontpage .flex .right{
    width: 100%;
  }
  .frontpage .flex .right .image{
    box-shadow: 0px 0px 15px 0px rgb(59, 58, 58);
    padding: .7%;
  }
  .frontpage .flex .right .one{
    top: 3rem;
    right: 6rem;
    width: 50px;
    height: 50px;
  }
  .frontpage .flex .right .two{
    bottom: -10rem;
    right: 9rem;
    width: 60px;
    height: 60px;
  }
  .frontpage .flex .right .three{
    bottom: 4rem;
    left: 7rem;
  }
  .frontpage .flex .right .image img{
    height: 100%;
    width: 100%;
  }
  .frontpage .flex .right .video{
    box-shadow: 0px 0px 10px 0px rgb(59, 58, 58);
    height: 220px;
    width: 220px;
    margin: 0 auto;
    padding: 1.5rem;
    top: 5rem;
  }
  .frontpage .flex .right .video .circle{
    height: 200px;
    width: 200px; 
  }
  .frontpage .flex .right .video .top{
    border-top: 5px solid rgb(109, 109, 211);
  }
  .frontpage .flex .right .video .side{
    border-left: 5px solid rgb(109, 109, 211);
  }
  .midsec{
    position: relative;
    padding: 1rem;
    min-height: fit-content;
  }
  .midsec .note{
    padding: 0 2rem;
    padding-bottom: 3rem;
  }
  .midsec .note .swo{
    font-weight: 500;
  }
  .midsec .name{
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 48rem;
    margin: 0 auto;
    font-size: 8rem;
    text-align: center;
    color: rgb(201, 201, 201);
    display: inline;
    z-index: -1;
  }
  .midsec .contact{
    padding: 0 2rem;
  }
  .midsec .contact .cards{
    box-shadow: 0px 10px 17px -3px rgb(151, 149, 149);
    background-color: white;
    height: 590px;
    padding: 2rem 0rem;
    position: relative;
    display: flex;
    width: 100%;
  }
  .midsec .cards .card .line{
    margin-top: 1rem;
    width: 10rem;
    height: 3px;
  }
  .midsec .contact .cards .ob{
    padding: 7px 17px;
    font-size: .7rem;
    top: -15px;
    left: 25px;
    right: auto;
    width: fit-content;
  }
  .midsec .contact .cards .card{
    margin-top: 0;
    margin: 0rem;
    padding: 0px;
    width: 100%;
    transition: .3s ease;
    cursor:default;
  }
  .midsec .contact .cards .card:hover{
    margin-bottom: 1.3rem;
  }
  .book:hover{
    margin-bottom: 0;
  }
  .midsec .cards .card img{
    height: 100px;
    width: 100px;
  }
  .midsec .contact .cards .card .text{
    margin-bottom: 0;
    margin-top: 16px;
  }
  .midsec .contact .cards .card .text h4{
    font-size: 1rem;
    letter-spacing: 0;
    margin-bottom: 16px;
  }
  .midsec .contact .cards .card .text p{
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  .midsec .contact .cards .book .link{
    margin: 2rem 0 1.5rem 0;
    width: max-content;
  }
  .midsec .contact .cards .book{
    position: absolute;
    bottom: -2rem;
    width: 100%;
  }
  .midsec .cards .book .link a{
    background-color: rgb(109, 109, 211);
    font-size: 1rem;
    transition: all .2s ease;
    padding: 10px 1rem;
  }

  .midsec .services{
    margin-top: 5rem;
  }
  .midsec .services .cards{
    padding: .5rem;
    display: flex;
    overflow-x: scroll;
  }
  .midsec .services .cards::-webkit-scrollbar{
    height: 2px;
  }
  .midsec .services .cards::-webkit-scrollbar-track{
    background-color: rgb(221, 221, 221);
    border-radius: 50px;
  }
  .midsec .services .cards::-webkit-scrollbar-thumb{
    background-color: rgb(110, 110, 110);
    border-radius: 50px;
  }
  .midsec .services .cards .card{
    box-shadow: none;
    padding: 1rem;
    min-width: 200px;
    margin-right: 1rem;
  }
  .midsec .services .card .image{
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 0;
    background-color: transparent;
  }
  .midsec .services .card .text h4{
    font-size: 1rem;
    margin-top: 0;
  }
  .midsec .services .card .text p{
    font-size: 1rem;
    height: 220px;
  }
  .events{
    padding: 0 7rem;
  }
  .events .top{
    padding: 0 4rem;
  }
  .events .top .image img{
    margin-bottom: .5rem;
  }
  .events .top .text h4{
    margin-bottom: .5rem;
  }
  .events .bottom{
    padding: 0;
  }
  .events .bottom .images .big{
    height: 20rem;
    width: 36rem;
  }
  .events .bottom .images .smalls .small{
    height: 14rem;
    width: 15rem;
  }
  .member-section{
    flex-direction: initial;
  }
  .member-section .members{
    max-width: 370px;
    padding: 1rem;
  }
  .member-section .members::-webkit-scrollbar{
    height: 5px;
  }
  .member-section .members::-webkit-scrollbar-track{
    background-color: rgb(221, 221, 221);
    border-radius: 50px;
  }
  .member-section .members::-webkit-scrollbar-thumb{
    background-color: rgb(110, 110, 110);
    border-radius: 50px;
  }
  .member-section .other-thing{
    margin-top: 1rem;
    justify-content: start;
    align-items: flex-start;
    padding: .5rem 0rem 1rem 2.5rem;
  }
  .member-section .other-thing .texts h6{
    text-align: left;
  }
  .member-section .other-thing .texts h2{
    margin-bottom: 1rem;
    text-align: left;
  }
  .member-section .other-thing .texts p{
    text-align: left;
  }
  .vision{
    padding: 1rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vision .side{
    padding: 1rem;
    max-width: 600px;
  }
  .vision .side .text .heading{
    font-size: 2rem;
    color: rgb(165, 165, 202);
    margin-bottom: 1rem;
  }
  .vision .side .text h2{
    margin-bottom: 1rem;
  }
  .vision .other{
    min-width: 370px;
    height: 340px;
  }
  .footer h2{
    letter-spacing: 3px;
  }
  .footer p{
    margin-bottom: 1rem;
  }
  .footer .text{
    padding: 1rem 5rem;
  }
  .footer .links{
    margin-bottom: 10px;
  } 
  .footer .links ul li{
    margin-left: 10px;
  }
  .footer .links ul li a{
    padding: 3px;
    text-transform: uppercase;
    transition: all .3s ease;
  }
  .footer .links ul li a:hover{
    border-bottom: 1px solid rgb(109, 109, 211);
  }
  /* gallery */
.bg{
  width: 40%;
}
.contain .nav .library .tag{
  font-size: 35px;
}

.contain .nav .library li a{
  font-size: 30px;
}
.contain .main .box .image{
  margin-right: 15px;
  margin-top: 7px;
}
.contain .main .box .image img, .contain .main .box .image video{
  height: 250px;
  width: 350px;
}
.contain .main .box .image:hover img{
  margin: 0;
}
.contain .main .box .flex img{
  height: 90px;
  margin-right: 2rem;
}



}
@media only screen and (min-width:910px){
  .midsec .contact .cards .card .text p{
    height: 270px;
  }
  .midsec .services .card .text p{
    height: 210px;
  }
  .events .bottom .images .big{
    width: 500pt;
  }
  .events .bottom .images .smalls .small{
    height: 15rem;
    width: 18rem;
  }
  .contain .main .box .image{
    margin-top: 10px;
  }
  .contain .main .box .image img, .contain .main .box .image video{
    height: 270px;
    border-radius: 3px;
    width: 420px;
  }
  
}



@media only screen and (min-width:1080px){
  .frontpage{
    min-height: 720px;
  }
 .burger{
    display: none;
  }
  .frontpage .navbar .navlinks{
    top: 0;
    position: unset;
    width: 700px;
    height: 60px;
    background-color: transparent;
  }
  .frontpage .navbar .navlinks ul{
    flex-direction: initial;
    justify-content: space-between;
  }
  .frontpage .navbar .navlinks ul li:hover{
    border-bottom: 1px solid rgb(59, 58, 58);
  }
  .frontpage .navbar .navlinks ul li a{
    font-size: 1.3rem;
  }
  .frontpage .flex{
    display: flex;
  }
  .frontpage .flex .slogan h4{
    font-size: 3.5rem;
  }
  .frontpage .flex .card{
    height: 100px;
  }
  .frontpage .flex .right .one{
    right: 3rem;
  }
  .frontpage .flex .right .two{
    bottom: -5rem;
    right: 5rem;
  }
  .frontpage .flex .right .three{
    bottom: 8.5rem;
    left: -3rem;
  }
  .frontpage .flex .right .video{
    height: 400px;
    width: 400px;
  }
  .frontpage .flex .right .video .circle{
    height: 370px;
    width: 370px;
  }
  .midsec .name{
    top: 38rem;
    font-size: 10.5rem;
  }
  .midsec .contact{
    padding: 0 4rem;
  }
  .midsec .contact .cards{
    height: 480px;
  }
  .midsec .contact .cards .card{
    margin: 2px;
  }
  .midsec .contact .cards .card .text{
    margin-top: 1rem;
  }
  .midsec .contact .cards .card .text h4{
    margin-bottom: 1rem;
  }
  .midsec .contact .cards .card .text p{
    text-align: center;
    height: 210px;
  }
  .midsec .contact .cards .book{
    flex-direction: column;
  }
  .midsec .cards .card .line{
    margin-top: 1rem;
    width: 10rem;
    height: 3px;
  }
  .midsec .services .cards{
    overflow-x: hidden;
  }
  .midsec .services .cards .card{
    padding: 1.5rem;
  }
  .midsec .services .card .text p{
    height: 150px;
  }
  .events .bottom .images{
    display: flex;
    margin: 0 2.5rem;
  }
  .events .bottom .images .big{
    height: 23rem;
    width: 450pt;
    margin: 1em;
  }
  .events .bottom .images .smalls .small{
    height: 12rem;
    width: 13rem;
    margin: 1rem .5em;
    margin-top: 0;
  }
  .member-section .members{
    max-width: 480px;
    min-height: 480px;
  }
  .member-section .other-thing{
    padding: 1rem 5rem;
    padding-right: 1rem;
  }
  .vision .other{
    min-width: 470px;
    height: 400px;
  }
  .footer .text{
    padding: 1rem 10rem;
  }
  /* gallery */
.bg{
  position: fixed;
  width: 20%;
  left: 0;
}
.main{
  position: absolute;
  right: 0;
}
.contain .nav{
  box-shadow: 0px 1px 5px 0px gray;
}
.contain .nav .library .tag{
  font-size: 23px;
}
.contain .nav .library li a{
  font-size: 17px;
}
.contain .main{
  width: 80%;
}
.contain .main .box .image img, .contain .main .box .image video{
  height: 210px;
  width: 260px;
}
.contain .main .box .image .big{
  height: 280px;
  width: 290px;
}
.contain .main .box .flex img{
  height: 100px;
  margin-right: 2.5rem;
}




}

@media only screen and (min-width:1270px){
  .frontpage .flex .right .one{
    top: 5rem;
    right: 4rem;
    width: 70px;
    height: 70px;
  }
  .frontpage .flex .right .two{
    bottom: -3rem;
    right: 7rem;
    width: 60px;
    height: 60px;
  }
  .frontpage .flex .right .three{
    bottom: 5rem;
    left: 5rem;
  }
  .midsec h2{
    top: 5rem;
  }
  .midsec .contact{
    display: flex;
    justify-content: center;
  }
  .midsec .contact .cards{
    width: fit-content;
  }
  .midsec .services .card .text p{
    height: 120px;
  }
  .events .bottom .images{
    margin: 0 8.5rem;
  }
  .vision .other{
    min-width: 650px;
  }
  .footer .text{
    padding: 1rem 15rem;
  }
  .contain .main .box .image img, .contain .main .box .image video{
    height: 200px;
    width: 230px;
  }
}

/* keyframes or animations */

@keyframes rotateside {
  from{
    transform: rotate(35deg);
  }
  to{
    transform: rotate(395deg);
  }
}
@keyframes rotatetop {
  from{
    transform: rotate(65deg);
  }
  to{
    transform: rotate(425deg);
  }
}
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
